{
  "scriptName": "/kifu",
  "port": 31011,
  "dataDir": "./data",
  "kifuIndex": "kifu_dev",
  "stepIndex": "step_dev",
  "accountIndex": "account_dev",
  "commentIndex": "comment_dev",
  "esLog": false
}
