<html>
<head>
<meta charset='UTF-8'/>
<title>棋譜ログ</title>
</head>
<body>
<ol>
  <% index.each do |c| %>
    <li><a href="kifu/<%= c[:id] %>/"><%= title c[:kifu] %></a></li>
  <% end %>
</ol>
<% if !session.nil? %>
<a href="logout">logout</a>
<% if session.role == :ADMIN %>
<a href="admin">admin</a>
<% end %>
<% end %>
</body>
</html>
