<html>
<head>
<meta charset='UTF-8'/>
<title>棋譜ログ</title>
<style>
.index {
  display: inline-block;
}

.recent_comments {
  display: inline-block;
  vertical-align: top;
}

.recent_comments .header {
  font-weight: bold;
  font-size: 70%;
}

.recent_comments a.comment {
  display: block;
}
</style>
</head>
<body>
<div class="index">
<ol>
  <% @index.each do |c| %>
    <li><a href="kifu/<%= c[:id] %>/"><%= title c[:kifu] %></a></li>
  <% end %>
</ol>
</div>
<% if !@recent_comments.empty? %>
<div class="recent_comments">
  <p class="header">最近のコメント</p>
  <% @recent_comments.each do |comment| %>
  <a href="<%= "kifu/%s/%d" % [comment.kifu_id, comment.seq] %>" class="comment"><%= comment.text[0, 20] %></a>
  <% end %>
</div>
<div class="link">
  <a href="logout">logout</a>
  <% if @session.role == :ADMIN %>
  <a href="admin">admin</a>
  <% end %>
</div>
<% end %>
</body>
</html>
