<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>棋譜ログ</title>
    <script src="/assets/kifu.js"></script>
<style>
.same_step div::before {
  content: '* ';
}
</style>
  </head>
  <body>
    <main id="main">
    </main>
    <script>
const app = Elm.Main.init({
  node: document.getElementById("main"),
  <% if login? %>
  flags: {"accountId": "<%= @session.account_id %>" }
  <% else %>
  flags: null
  <% end %>
});
    </script>
  </body>
</html>
