<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>棋譜ログ</title>
    <script src="/assets/elm.js"></script>
<style>
.same_step div::before {
  content: '* ';
}
</style>
  </head>
  <body>
    <main id="main">
    </main>
    <script>
const app = Elm.Main.init({
  node: document.getElementById("main"),
  flags: <%= login? %>
});
    </script>
  </body>
</html>
